.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 200px;
}

.nav-items {
  margin: 25px;
}
.nav-items ul {
  list-style-type: none;
  display: flex;
  font-size: 24px;
}

.nav-items ul li {
  padding: 10px;
  margin: 1opx;
}
.search {
  padding: 10px;
}
.restaurant-card {
  width: 200px;
  margin: 5px;
}
.restaurant-card:hover {
  border: 1px solid black;
  cursor: pointer;
}
.res-logo {
  width: 100%;
}

.restaurant-container {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  padding: 10px;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
}
.shimmer-container {
  display: flex;
}
.shimmer-cards {
  width: 200px;
  height: 400px;
  margin: 30px;
  background-color: rgb(199, 180, 180);
}

.login {
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding: 2px;
}

.filter {
  display: flex;
}

.search {
  padding-left: 5px;
}
